extends default.pug 

block content 
    // De to øverste linjene(Kommentarer kan bare være under block content): 
    // Denne bruker default som header  (logo osv) som i alle andre templates
    // dette betyr at resten av malen kommer under

    // Enkel mal for å vise en beskjed. Brukes kun av ping
    h1= message 